<div class="w-full text-center">
  <h1 class="mt-10 lg:mt-52 text-3xl mb-4">
    <strong>Oops! Page Not Found.</strong>
  </h1>
  <p>The page you're looking for doesn’t exist or has been moved.</p>
</div>